---
---
<div class="container wow animated fadeIn" id="about"> <br><br><br>
  <!--Section: About Me-->
  <section class="text-left white-text">
    <!-- Heading and Divider -->
    <h2 class="font-weight-bold">About Me</h2>
    <hr class="hr-light">
      
    <!--Grid row-->
    <div class="row d-flex justify-content-center mb-4">
      <!--Grid column-->
      <div class="col-md-4 mb-4"><img src="img/linked_in.jpg" class="img-fluid"></div> 
      
      <!--Grid column-->
      <div class="col-md-8">
        <p style="font-size: 14pt; text-shadow: 1px 1px 10px black"> 
            {{ site.bio }}
        </p>
      </div> 
    </div>
  </section><br><br><br>  
</div>
<!-- End About Me-->
