<!-- Experience --> 
<div id="experience" class="container wow animated fadeIn slow" id="professional"> <br><br><br>
    <h2 class="font-weight-bold white-text">Experience</h2>
    <hr class="hr-light">
    <!--Grid row-->
    <div class="row d-flex justify-content-start ">
         {% for experience in site.data.experience %}
            <div class="col-md-4 mb-4">
                {% include experience_card.html
                   color=experience.color 
                   title=experience.title
                   icon=experience.icon
                   description=experience.description %}
             </div>
         {% endfor %}
    </div> <!-- End row -->
    <br>
    <div class="text-center white-text">
        <h3>Want to see a resume?
            <a href="{{ site.url }}/resume.pdf" target="_blank">
                <button class="btn btn-large btn-dark white-text">
                    Take A Look <!--i class="fas fa-arrow-right"></i-->
                </button>
            </a>
        </h3> 
    </div>
    <br><br>
</div>
